body, html {
    height: 100%;
    font-size: 16px;
    margin: 0;
}
  
#bg{
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header, main, footer{
    display: flex;
    padding: 0.5rem;
    border: 1px solid black;
}

header{
    justify-content: space-between;
    align-items: start;
}

p, h2{
    margin: 0;
    padding: 0;
}

#weatherData{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    color: white;
}