* {
    box-sizing: border-box;
}   

body, html {
    height: 100%;
    font-size: 16px;
    margin: 0;
    color: white;
    font-family: Poppins;
}

.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    -ms-flex-direction: column;
    background-color: black;
}
  
#bg{
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header, main, footer{
    display: flex;
    padding: 1rem;
}

header{
    justify-content: space-between;
    align-items: start;
}

main{
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
}

h1{
    font-size: 2.5rem;
}

p, h2, h1{
    margin: 0;
    padding: 0;
}

#weatherData{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    color: white;
    background-color: rgba(208, 208, 208, 0.5);
    padding: 0.5rem;
}

#photoCredit{
    padding: 0.5rem;
    font-size: 12px;
    background-color: rgba(208, 208, 208, 0.5);
    color: white;
    border: none;
}

