body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Inter;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

main{
  background-color: #FAFAF8;
  padding: 2.5rem 1rem;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logoIcon{
  width: 40px;
}

.logoText{
  font-size: 2rem;
}

.ingredientList{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  color: #141413;
}

li{
  color: #475467;
  margin-bottom: 1rem;
}

input[type="text"]{
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  flex: 1;
}

input[type="submit"]{
  background-color: #141413;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.recipeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0EFEB;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.recipeContainer > p{
  color: #6B7280;
}

.recipeContainer > h4{
  color: #141413;
  margin: 0;
}

.getRecipe{
  background-color: #D17557;
  border: none;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
