body {
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 100%;
    max-width: 600px;
} 

.header {
    position: relative;
    width: 100%;
    height: auto;
}

.header__image {
    width: 100%;
    height: auto;
    display: block;
}

.header__overlay {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    padding: 2rem;
}

p{
    color: black;
}

.header__title, .itemName{
    margin: 0rem 0rem 0.5rem 0rem;
    font-size: 2rem;
    font-weight: 600;
}

.header__subtitle, .itemIngredients {
    margin: 0rem 0rem 0.5rem 0rem;
    font-size: 1rem;
    font-weight: 400;
}

.itemContainer{
    display: flex;
}

.itemImage{
    width: 4rem;
    height: 4rem;
}


