body {
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 100%;
} 

h1, h2, h3, h4, p{
    margin: 0;
}

p{
    opacity: 0.5;
}

img{
    display: block; 
    width: 100%; 
    height: auto;
}

.header{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerContent{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: absolute;
    top: 50%; /* Position text vertically centered */
    left: 25%; /* Position text horizontally centered */
    transform: translate(-50%, -50%);
    color: white;
}

/* .menu{
    display: flex;
    flex-direction: column;
} */

.itemContainer{
    display: flex;
    border-bottom: 1px solid rgba(170, 170, 170, 0.1);
    padding: 1rem;
    margin: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.itemImage{
    width: 4rem;
    height: 4rem;
}

.itemImageAndDetailsHolder{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}

.itemDetails{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

