body {
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 100%;
} 

button{
    background: #16DB99;
    border: none;
    color: white;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; 
}

h1, h2, h3, h4, p{
    margin: 0;
}

p{
    opacity: 0.5;
}

img{
    display: block; 
    width: 100%; 
    height: auto;
}

.header{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerContent{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: absolute;
    top: 50%; /* Position text vertically centered */
    left: 25%; /* Position text horizontally centered */
    transform: translate(-50%, -50%);
    color: white;
}

/* .menu{
    display: flex;
    flex-direction: column;
} */

.itemContainer{
    display: flex;
    border-bottom: 1px solid rgba(170, 170, 170, 0.1);
    padding: 1rem;
    margin: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.itemImage{
    width: 4rem;
    height: 4rem;
}

.itemImageAndDetailsHolder{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}

.itemDetails{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.footercheckout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.itemsincart{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.totalPrice{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.checkout-modal{
    display: none; /*flex when displayed*/
    position: fixed;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem 1rem 1rem 1rem;
}

.checkout-modal-inner{
    display: flex;
}

 /* Style inputs */
 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background: #16DB99;
    border: none;
    color: white;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; 
  }
  
  /* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
    background-color: #45a049;
  } 

  .orderConfirmation{
    display: none;
    padding: 2rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #ECFDF5;
    color: #065F46;
  }