body{
    font-family: Roboto;
    font-size: 16px;
    margin: 0;
    height: 100%;
}

header{
    margin: 0;
    padding: 1rem;
    box-shadow: 0px 8px 25px rgba(3, 7, 18, 0.05),
    0px 32px 100px rgba(3, 7, 18, 0.10);
}

.header-container{
    display: flex;
    justify-content: space-between;
}

input[type="color"]{
    border: none;
    padding: 0;
}

select, button{
    margin: 0;
    border: 0.5px solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 90vh;
    width: 100%;
}

/* #seedColor{
    background: blue;
}

#color2{
    background: red;
}

#color3{
    background: black;
}

#color4{
    background: green;
}

#color5{
    background: pink;
} */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 10vh;
}

.footerItem{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
}