body{
  margin: 0;
  font-size: 16px;
  padding: 0;
}

header{
  padding: 1rem 1.5rem;
  background-color: #21222A;
  color: white;
}

nav{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoText{
  font-family: Inter;
  font-size: 1.391 rem;
  font-weight: 700;
  line-height: 1.683 rem;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #61DAFB;
}

.logoImage{
  width: 2.5rem;
}