*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2.5rem 1rem 2.5rem 1rem;
    color: white;
    background-image: url('assets/images/THJJRUhNlEc.png');
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    border: 1px solid black;
}

h1{
    margin: 0;
    line-height: normal;
}

main{
    display: flex;
    background-color: #121212;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#watchlistBtn{
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

#empty{
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    color: #2E2E2F;
}

#empty h1{
    font-size: 1rem;
}

form{
    background: #2E2E2F;
    position: absolute;
    top: 7rem;
    width: 25rem;
    height: 2.5rem;
    display: flex; 
    background: #2E2E2F;
}

form input{
    flex: 1;
    border: none;
    outline: none;
    background: #2E2E2F;
    color: #A5A5A5;
}

form button{
    background: #4B4B4B;
    color: white;
    padding: 0.625rem 3.125rem;
    border: none;
    outline: none;
    cursor: pointer;
}

form .fa-magnifying-glass{
    align-self: center;
    color: #9CA3AF;
    padding: 0.625rem 1rem;
}

.allCards{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    color: white;
    padding: 1.5rem;
}

.card{
    display: flex;
    gap: 1rem;
    color: white;
}

.details{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.movieAndRating , .durationGenre{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: start;
}

.movie{
    font-size: 1.125rem;
}

.rating .duration .genre{
    font-size: 0.75rem;
}

.description{
    font-size: 0.875rem;
    color: #A5A5A5;
}

.solid{
    border-top: 1px solid #2C2C2C;
}
